# for git-svn users

.gitignore
!/.gitignore

/Client/*.log
/Client/CrashDump*.txt
/Client/data/cache/
/Client/fallout.dat
/Client/Mapper/*.log
/Client/Mapper/data/CrashDump*.txt
/Mapper/*.log
/Server/config/*.bak
/Server/dumps/
/Server/logs/
/Server/save/
/Server/scripts/*.fosb
/Server/cache_fail
*.fosp
*.fomapb

.vs
Server/extensions/Debug/
Server/extensions/Release/
Server/extensions/*/Debug/
Server/extensions/*/Release/
Server/extensions/3rdParty/angelscript/lib/
Server/extensions/3rdParty/angelscript/projects/msvc10/Debug/
Server/extensions/3rdParty/angelscript/projects/msvc10/Release/
*.opensdf
*.sdf
*.suo
*.vcxproj.user
